
.logo_img{
    width: 20%;
    height: auto;
}
.header_section{
    width:100%;
    background-color: blue;
    
}
.resource{
    
    right: 10px;
    top: 10px;
}
.header_right{
    display: inline;
    color
}